cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcudnn.so.7
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libtorch_cuda.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcublas.so.10
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcusparse.so.10
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libonnxruntime.so.1.1.1
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libtensorflow_trtis.so.1
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libtorch_cpu.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libmkl_core.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libnvinfer.so.7
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcufft.so.10
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcusolver.so.10.0.130
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libnccl.so.2
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcusolver_static.a
cpp/3rdParty/triton_infer/linux/1.0.0/lib/libcurand.so.10
cpp/3rdParty/triton_infer/linux/1.0.0/lib/tensorflow/libtensorflow_trtis.so.1
cpp/3rdParty/triton_infer/linux/1.0.0/lib/pytorch/libtorch_cuda.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/pytorch/libmkl_avx2.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/pytorch/libtorch_cpu.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/pytorch/libmkl_core.so
cpp/3rdParty/triton_infer/linux/1.0.0/lib/onnx/libonnxruntime.so.1.1.1
cpp/3rdParty/ubuntu-cuda10/libnvinfer.so.6
cpp/3rdParty/ubuntu-cuda10/libcublas.so.10.0
